/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@keyframes animated-bg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

body {
  --color1: #541388;
  --color2: #d90368;
  --color3: #f1e9da;
  --color4: #2e294e;
  --color5: #ffd400;

  background-color: var(--color4);
  color: var(--color5);
  font-family: 'Goldman', monospace;
  font-size: 16pt;

  background-image: url("./assets/starbg.jpg");
  animation: animated-bg 150s linear infinite;

  margin: 0;
  padding: 0;
}

.resizableBox .corners .corner.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize;
}
.resizableBox .corners .corner.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizableBox .corners .corner.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizableBox .corners .corner.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}
